{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/ABDELHAKMOKRI/" target="_blank"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/mokri" target="_blank"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/abdelhakmokri/" target="_blank"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/abdelhakmokri" target="_blank"><img style="color:red;" src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/abdelheq-mokri-b55425160/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
            <p>Copyright ©{% now 'Y' %} All rights reserved. <strong>Abdelheq Mokri</strong></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->